<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Persons" connectionString="data source=DESKTOP-34E4JUL;initial catalog=Example;persist security info=True;user id=poi;password=poiu7890_;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>