<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Personas" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=PersonsContext;user id=poi;password=poiu7890_;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>